button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-8px);
    border: none;
    border-radius: var(--border-radius-8px);
    font-family: "Inter", sans-serif;
    font-weight: bold;
    padding: var(--pad-8px) var(--pad-16px);
    cursor: pointer;

    @media (min-width: 1024px) {
        font-size: var(--fs-p-16px);
        line-height: var(--lh-p-24px);
    }
}

.primary {
    background-color: transparent;
    color: var(--green-intense-textcolor);
    border: 1px solid var(--green-intense-border);
}

.secondary {
    background-color: transparent;
    border: 1px solid var(--green-intense-secundary-button-border);
    color: var(--green-intense-secundary-button-border);
}

.danger {
    background-color: transparent;
    border: 1px solid var(--red-warning-borders);
    color: var(--red-warning-texts);
}

.blue-button {
    background-color: transparent;
    border: 1px solid var(--neon-blue-border);
    color: var(--neon-blue-buttons-bg);
}

.orange-button {
    background-color: transparent;
    border: 1px solid var(--orange-buttons-border);
    color: var(--orange-textcolor);
}
