.create-project-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-32px);
}

.create-project-form__inputs-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16px);

    .create-project-form__input {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-8px);
    }

    .create-project-form__input-label {
        font-size: var(--fs-sm-12px);
        font-weight: bold;

        @media (min-width: 1024px) {
            font-size: var(--fs-p-16px);
            line-height: var(--lh-p-24px);
        }
    }

    .create-project-form__input-field {
        background-color: transparent;
        border: 1px solid var(--main-white-borders);
        border-radius: var(--border-radius-8px);
        padding: var(--pad-8px) var(--pad-16px);
        color: var(--main-white-textcolor);
        font-size: var(--fs-sm-12px);
        line-height: var(--lh-sm-16px);

        @media (min-width: 1024px) {
            font-size: var(--fs-p-16px);
            line-height: var(--lh-p-24px);
            padding: 12px var(--pad-24px);
        }

        ::placeholder {
            font-family: "Inter", sans-serif;
            font-size: var(--fs-sm-12px);
            line-height: var(--lh-sm-16px);

            @media (min-width: 1024px) {
                font-size: var(--fs-p-16px);
                line-height: var(--lh-p-24px);
            }
        }
    }

    .create-project-form__input-field--textarea {
        resize: vertical;
        min-height: 100px;
        font-size: var(--fs-sm-12px);
        line-height: var(--lh-sm-16px);

        @media (min-width: 1024px) {
            font-size: var(--fs-p-16px);
            line-height: var(--lh-p-24px);
        }

        ::placeholder {
            font-family: "Inter", sans-serif;
            font-size: var(--fs-sm-12px);
            line-height: var(--lh-sm-16px);

            @media (min-width: 1024px) {
                font-size: var(--fs-p-16px);
                line-height: var(--lh-p-24px);
            }
        }
    }
}

.create-project-form__added-tasks {
    .create-project-form__added-tasks-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-8px);
    }

    .create-project-form__added-task-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-8px);
    }

    .create-project-form__task {
        font-size: var(--fs-sm-12px);
        color: var(--main-white-textcolor);
    }
}

.create-project-form__buttons-container {
    display: flex;
    gap: var(--spacing-8px);
    width: 100%;

    button {
        width: 100%;
        font-size: var(--fs-sm-12px);
        font-weight: bold;

        @media (min-width: 1024px) {
            font-size: var(--fs-p-16px);
            line-height: var(--lh-p-24px);
        }
    }
}
