.header {
    grid-area: header;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(--pad-16px) 0;

    .header__menu-icon {
        border: 1px solid var(--neon-blue-buttons-border);
        border-radius: var(--border-radius-8px);

        @media (min-width: 1024px) {
            display: none;
            pointer-events: none;
        }
    }

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    .header__logo {
        @media (min-width: 1024px) {
            height: 48px;
        }
    }
}

.header__nav {
    display: none;

    @media (min-width: 1024px) {
        display: block;

        .header__title-icon {
            display: none;
            pointer-events: none;
        }

        .header__nav-list {
            list-style: none;
            padding: 0;
            margin: 0;

            display: flex;
            align-items: center;
            gap: var(--spacing-48px);

            .header__nav-item a {
                text-decoration: none;
                color: var(--main-white-textcolor);
            }

            .header__nav-item a.active {
                font-weight: bold;
                border-bottom: 2px solid var(--neon-blue-border);

                padding-bottom: var(--pad-4px);
            }
        }
    }
}

.header__nav.header__nav-open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    height: 100%;
    height: 100dvh;
    width: 100%;

    padding: var(--pad-24px);
    background-color: var(--dark-gray-bgs);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .header__nav-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: var(--spacing-32px);

        .header__title-icon {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header__close-button {
            border: 1px solid var(--red-warning-borders);
            border-radius: var(--border-radius-8px);
        }
    }

    .header__nav-list {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: column;
        gap: var(--spacing-16px);

        .header__nav-item a {
            display: block;
            padding: var(--pad-16px);
            text-decoration: none;
            color: var(--main-white-textcolor);
        }

        .header__nav-item a.active {
            font-weight: bold;
            border: 1px solid var(--neon-blue-border);
            border-radius: var(--border-radius-8px);
        }
    }
}

.header__taskifier-icon {
    @media (min-width: 1024px) {
        display: none;
    }
}
