.homepage {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24px);
    padding: var(--pad-24px);
    min-height: 100%;

    @media (min-width: 1024px) {
        padding: var(--pad-32px);
    }
}

.homepage__projects-displayer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8px);
    height: 100%;

    @media (min-width: 1024px) {
        flex: 1;
        position: relative;
    }
}

.homepage__no-projects {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16px);

    @media (min-width: 1024px) {
        max-width: 520px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid var(--neon-blue-border);
        border-radius: var(--border-radius-16px);
        padding: var(--pad-32px);
    }

    .homepage__no-projects-message {
        text-align: center;
    }
}

.homepage__project-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24px);
    padding: var(--pad-16px);

    background-color: var(--dark-gray-bgs);
    border: 1px solid var(--neon-blue-border);
    border-radius: var(--border-radius-16px);

    transition: box-shadow 0.2s ease;

    &:hover {
        box-shadow: 0 0 1px 8px var(--main-white-alpha-10);
    }

    @media (min-width: 1024px) {
        padding: var(--pad-24px);
    }

    a {
        width: fit-content;
    }
}

.homepage__title-and-desc {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8px);
}

.homepage__project-title {
    font-weight: bold;
}
